/*
==================================================
    Colors
==================================================
*/

/*
    #EEE - light grey
    #777 - dark grey
*/


html, 
body {
    background-color: #EEE;
    margin: 5px;
    height: 98%;
    font-size: 35px;
}


header {
    flex-basis: 100%;
}

.app {
    display: flex;
    flex-flow: row wrap;
    justify-content: center
}

/*
==================================================
    Text styles
==================================================
*/

h1 {
    font-size: 60px;
    font-weight: bold;
    color: #777;
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

.versus {
    color: #777;
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
}

/*
==================================================
    Header
==================================================
*/

.nav_bar {
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.icons {
    width: 100px;
    height: 100px;
}

.back_icon {
    width: 160px;
    height: 80px;
}

.sub_header {
    visibility: hidden;
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 80px;
}

.page_title {
    margin-right: 30px;
}

/*
==================================================
    Home page
==================================================
*/

.content {
    visibility: hidden;
}

.main_container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    flex-basis: 80%;
}



.inner_containter {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.divider {
    flex-basis: 100%;
    height: 1px;
    border-top: 1px solid #777;
    margin: 20px 0;
}

.upcomming_matches {
    height: 90px;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

 .sub_title {
     flex-basis: 100%;
 }

.next_game_date,
.sub_title {
    margin-bottom: 60px;
}

.match,
.small_match {
    flex-basis: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.match {
    margin-bottom: 60px;
}

.small_match {
    margin: 20px 0;
    height: 120px;
}

.team_logo {
    width: 200px;
    height: 200px
}

.weather_wrapper {
    flex-basis: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

.weather_icon {
    width: 150px;
    height: 150px;
}

.data_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
}

.current_data {
    font-size: 50px;
    color: #777;
}

/*
==================================================
    News & detailed news page
==================================================
*/

.news_wrapper {
    flex-basis: 100%;
    display: flex;
    flex-flow: row wrap;
}

.news_title,
.news_article {
    flex-basis: 100%;
}

.news_article,
.news_full_article {
    margin-top: 5px;
    margin-bottom: 30px;
}

.news_article {
    height: 210px;
}

/*
==================================================
    Game Schedule
==================================================
*/

.selected_month {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.change_month {
    height: 160px;
    width: 80px;
}

.months_dropdown {
    flex-basis: 20%;
    height: 40px;
    font-size: 31px;
}

.months_option {
    width: 200px;
}

.small_logo {
    width: 120px;
    height: 120px;
}

.team_code {
    width: 100px;
}

.align_right {
    text-align: right;
}

.home_team, 
.away_team {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.match_result {
    font-size: 60px;
    font-weight: bold;
    color: #777;
}

.match_details {
    flex-basis: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-top: 40px;
}

.match_location {
    flex-basis: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
    font-size: 45px;
}

.label {
    font-weight: bold;
    flex-basis: 35%;
    margin: 5px 0;
}

.label_content {
    flex-basis: 65%;
}

.location {
    flex-basis: 100%;
    display: flex;
    height: 600px;
    border: 1px solid #777;
    margin-top: 60px;
}

.map {
    flex-basis: 100%;
    height: 600px;
}

.no_matches {
    font-size: 50px;
    font-weight: bold;
    color: darkred;
}

/*
==================================================
    Standings
==================================================
*/

.standings {
    flex-basis: 100%;
}

.standings th {
    font-weight: bold;
    padding-bottom: 15px;
}

.big_cell,
.small_cell {
    height: 55px;
}

.small_cell {
    text-align: center;
}

.toggle {
    flex-basis:100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    font-size: 35px;
}

.info_button {
    height: 160px;
    width: 160px;
    margin-top: 40px;
    margin-left: 20px;
}

.toggle div {
    display: none;
    flex-basis: 100%;
    margin-top: 5px;
}

/*
==================================================
    Team details
==================================================
*/

.team_header {
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.team_position {
    height: 100px;
    width: 100px;
    border: 3px solid #777;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #777;
}

.team_stats {
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.statistic {
    height: 100px;
    width: 100px;
    border: 3px solid #777;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.statistic_label, 
.statistic_value {
    flex-basis: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.team_members {
    flex-basis: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    font-size: 40px;
}

.sub_header_team {
    flex-basis: 100%;
    margin-top: 60px;
    margin-bottom: 20px;
}

.list_of_team_members {
    flex-basis: 100%;
}

.player {
    margin: 10px 0;
}

/*
==================================================
    Settings
==================================================
*/

.login {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
}

.login_label,
.login_input {
    flex-basis: 100%;
    height: 50px;
    font-size: 45px;
    margin: 5px 0 12px 0;
}

.login_box {
    height: 275px;
    display: flex;
    flex-flow: row wrap;
}
